.contact {
  height: 100%;
  background-color: rgb(243, 243, 243);
  z-index: 0;
}

.contact__container {
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
}

.contact-form {
  width: 60%;
  margin: 0px auto;
  /* background-color: green; */
}

/* .contact__form__input,
.contact__form__textarea {
  width: 100%;
} */
