---
import Layout from "../../layouts/Layout.astro";
import MetaHead from "@components/general/MetaHead.astro";
import { info } from "@data";
import { getEntry, getCollection, CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'blog'>;
}

const {entry} = Astro.params as Props;


const { Content } = await entry.render();
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead />
    </head>

    <Layout>
        <div class="w-full flex justify-center align-center">
            <h2
                class="mt-16 font-extrabold text-2xl dark:text-white capitalize"
            >
                {blog.data.title} 
            </h2>
            <div class="flex items-center mt-14">
                {
                    proj.githubUrl && (
                        <a
                            href={proj.githubUrl}
                            class="text-white p-3 bg-black/50 rounded-full backdrop-blur-md hover:bg-sky-500/50"
                            aria-label="Social Media"
                            target="_blank"
                        >
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M12 2c-2.4 0-4.7.9-6.5 2.4a10.5 10.5 0 0 0-2 13.1A10 10 0 0 0 8.7 22c.5 0 .7-.2.7-.5v-2c-2.8.7-3.4-1.1-3.4-1.1-.1-.6-.5-1.2-1-1.5-1-.7 0-.7 0-.7a2 2 0 0 1 1.5 1.1 2.2 2.2 0 0 0 1.3 1 2 2 0 0 0 1.6-.1c0-.6.3-1 .7-1.4-2.2-.3-4.6-1.2-4.6-5 0-1.1.4-2 1-2.8a4 4 0 0 1 .2-2.7s.8-.3 2.7 1c1.6-.5 3.4-.5 5 0 2-1.3 2.8-1 2.8-1 .3.8.4 1.8 0 2.7a4 4 0 0 1 1 2.7c0 4-2.3 4.8-4.5 5a2.5 2.5 0 0 1 .7 2v2.8c0 .3.2.6.7.5a10 10 0 0 0 5.4-4.4 10.5 10.5 0 0 0-2.1-13.2A9.8 9.8 0 0 0 12 2Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </a>
                    )
                }

                {
                    proj.liveUrl && (
                        <a
                            href={proj.liveUrl}
                            class="text-white p-3 bg-black/50 rounded-full backdrop-blur-md ml-2 hover:bg-sky-500/50"
                            aria-label="Social Media"
                            target="_blank"
                        >
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M18 14v4.8a1.2 1.2 0 0 1-1.2 1.2H5.2A1.2 1.2 0 0 1 4 18.8V7.2A1.2 1.2 0 0 1 5.2 6h4.6m4.4-2H20v5.8m-7.9 2L20 4.2"
                                />
                            </svg>
                        </a>
                    )
                }
            </div>
        </div>
        <div class="text-gray-700 dark:text-white">
            <Content />
        </div>
    </Layout>
</html>
