---
import Layout from "../../layouts/Layout.astro";
import MetaHead from "@components/general/MetaHead.astro";

export function getStaticPaths() {
  return [
    {params: {project: 'wedding-website'}},
    {params: {project: 'portfolio'}},
  ];
}

const {project} = Astro.params;
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead />
    </head>

    <Layout>
      <div class="w-full flex justify-center">
        <h2 class="mt-16 font-extrabold text-2xl dark:text-white capitalize">{project} - Poject</h2>
      </div>
    </Layout>
</html>






    
